/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

header {
    background-color: #51b0f0;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.logo {
    width: 60px;
    height: auto;
}

.text h1 {
    font-size: 2rem;
    margin: 0;
}

.text p {
    font-size: 1.2rem;
    margin-top: 5px;
    font-style: italic;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 10px 0;
    background-color: #333;
    justify-content: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #51b0f0;
}

/* Contenido de Gestión de Notas */
.gestion-notas {
    padding: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gestion-notas h2 {
    text-align: center;
    color: #51b0f0;
    margin-bottom: 20px;
}

.tabla-notas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-notas th,
.tabla-notas td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla-notas th {
    background-color: #f1f1f1;
}

.tabla-notas input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.guardar-btn {
    padding: 8px 12px;
    background-color: #51b0f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.guardar-btn:hover {
    background-color: #3a92d6;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
}

.footer-content p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-sections a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-sections a:hover {
    text-decoration: underline;
}